<div class="container-fluid">
    <div class="jumbotron">
        <h3>Type a quote!</h3>
        <div class="row">
            <form (ngSubmit)='submitQuote()' #goalForm='ngForm'>
                <div class="form-group">
    
                    <label for="name">Quote</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" placeholder="Write a quote" required>
                    Display: {{newQuote.name}}
                
    
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p> Type a Quote.) </p>              
                </div>  
                    
                </div>
                <div class="form-group">
    
                    <label for="author">Author</label>
                    <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="name" placeholder="Write author's name" required>
                   
    
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p> Enter the quote's owner name.</p>              
                    </div>  
    
                </div>
                <div class="form-group">
    
                    <label for="submitted">Written by</label>
                    <input type="text" required class="form-control" id="submitted" [(ngModel)]="newQuote.submitted" name="name"  placeholder="Write your name" required>
                   
    
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p> Enter your name</p>              
                    </div>  
    
                </div>
                <button type="submit">Create Quote!</button>
            </form>
        </div>
    </div>
</div>
            
